{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <h1>About us. 💌</h1>
    <p>I'm just a young passionate developer that is trying to create some interesting projects</p>
{% endblock %}
