{% extends 'base.html.twig' %}

{% block title %}Wish list{% endblock %}

{% block body %}
    <h1 id="title">All wishes! 🤞</h1>
    <div id="wish-list">
    {% for wish in wishes %}
        <p class="wish"><a href="{{ path('wish_detail', { id: wish.id }) }}">{{ wish.title }} [{{ wish.category.name }}]</a></p>
    {% else %}
        <p class="error">Oops, no wish there...</p>
    {% endfor %}
    </div>
{% endblock %}
