{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <h1>Oops, page not found! 😞</h1>
    <p>The requested page couldn't be located...</p>
{% endblock %}
